{% extends 'personal_base.html' %}
{% load staticfiles %}

{% block content %}
           <div class=" personalRight col-md-10 col-lg-10 col-sm-12">

        <div class="displayContent entryOrderContent active " id="entryOrderContent">
            <h4>报名订单</h4>
            <div class="entryOrder">
                <div class="formHead">
                    <span>订单详情</span>
                    <span>支付金额</span>
                    <span>支付时间</span>
                </div>
                <div class="orderNum"><span> 订单号：</span><span>695784512365</span></div>
                <div class="formBody">
                    <span class="curriculumName">C1超越期望优质课</span>
                    <span class="prize">￥4850.00</span>
                    <span class="time">2018-03-28-00:00:00 </span>
                </div>
            </div>
        </div>



        </div>
{% endblock %}



